
*.sln
*.asax
*.csproj
*.user
*.config

packages/

internet_technology_2019_coursework/App_Start/
internet_technology_2019_coursework/fonts/
internet_technology_2019_coursework/bin/
internet_technology_2019_coursework/obj/
internet_technology_2019_coursework/Scripts/

internet_technology_2019_coursework/Content/bootstrap-theme.css
internet_technology_2019_coursework/Content/bootstrap-theme.css.map
internet_technology_2019_coursework/Content/bootstrap-theme.min.css
internet_technology_2019_coursework/Content/bootstrap-theme.min.css.map
internet_technology_2019_coursework/Content/bootstrap.css
internet_technology_2019_coursework/Content/bootstrap.css.map
internet_technology_2019_coursework/Content/bootstrap.min.css
internet_technology_2019_coursework/Content/bootstrap.min.css.map

internet_technology_2019_coursework/Global.asax.cs

internet_technology_2019_coursework/Properties/
