*.sln
*.csproj
*.user
*.config

.vs/
packages/

HotelWebApplication/fonts/
HotelWebApplication/bin/
HotelWebApplication/obj/
HotelWebApplication/Scripts/
HotelWebApplication/Properties/
HotelWebApplication/App_Data/
HotelWebApplication/App_Start/

HotelWebApplication/Content/bootstrap-theme.css
HotelWebApplication/Content/bootstrap-theme.css.map
HotelWebApplication/Content/bootstrap-theme.min.css
HotelWebApplication/Content/bootstrap-theme.min.css.map
HotelWebApplication/Content/bootstrap.css
HotelWebApplication/Content/bootstrap.css.map
HotelWebApplication/Content/bootstrap.min.css
HotelWebApplication/Content/bootstrap.min.css.map

HotelWebApplication/Global.asax.cs
