@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @if (ViewBag.Clients == null)
    {
        <h1>Список клиентов пуст</h1>
    }
    else
    {
        <h1>Список клиентов</h1>
        <table class="room-foreach">
            <tr>
                <td><p>Серия и номер паспорта</p></td>
                <td><p>ФИО</p></td>
            </tr>
            @foreach (var c in ViewBag.Clients)
            {
                <tr>
                    <td><p>@c.PassportSeriesAndNumber</p></td>
                    <td><p>@c.FullName</p></td>
                </tr>
            }
        </table>
    }
</div>