.my-container-wrapper {
    z-index: 50;
    position: relative;
    top: 0;
    left: 0;
    min-width: 1000px;
    min-height: 100%;
    margin: 0 auto;
}

.my-container {
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -500px;
    width: 1000px;
}

.my-logo {
    z-index: 150;
    position: relative;
    top: 50px;
    left: 50px;
    width: 549px;
    height: 95px;
}

.my-logo-img {
    height: 95px;
    width: 549px;
}

.my-main-menu {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    padding: 0 25px;
}

.my-main-menu-table {
    width: 100%;
    border-collapse: collapse;
    border-right: 2px solid #a38f54;
}

    .my-main-menu-table td {
        text-align: center;
        padding: 2px 8px;
        border-left: 2px solid #a38f54;
    }

        .my-main-menu-table td a {
            font: normal 18px 'Tahoma';
            color: #4c2002;
        }

.contacts {
    z-index: 100;
    position: absolute;
    top: 150px;
    left: 50px;
    color: #7f1308;
}

    .contacts a {
        color: #7f1308;
    }

.room-foreach img {
    height: 100px;
    width: 200px;
}

.room-foreach td {
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid #a38f54;
}

.my-main-content {
    padding: 20px 25px 60px;
}

    .my-main-content p {
        font: normal 14px/22px 'Tahoma';
        color: #222;
        margin: 10px auto;
    }

        .my-main-content p a {
            color: #7f1308;
        }

    .my-main-content h1 {
        font: bold 18px 'Tahoma';
        padding: 0;
        margin: 10px auto 0;
        color: #7f1308;
    }

    .my-main-content h2 {
        font: bold 18px 'Tahoma';
        padding: 0;
        margin: 10px auto 0;
        color: #7f1308;
    }

    .my-main-content ul {
        padding: 0;
        margin: 10px 0 10px 20px;
    }

        .my-main-content ul li {
            padding: 0;
            margin: 5px 0;
            font-size: 13px;
        }

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Tahoma', serif;
    background: rgb(255, 250, 230);
}

a img {
    border: 0;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 1000px;
    height: 250px;
}














.table_rooms {
    width: 100%;
    border-collapse: collapse;
    border-top: #666 1px dotted;
    margin-top: 12px;
}

    .table_rooms td {
        vertical-align: top;
        padding-top: 12px;
    }

.table_rooms_photo {
    width: 402px;
    text-align: right;
}

    .table_rooms_photo img {
        margin: 5px auto 0;
        padding: 10px;
        border: 2px solid #4d2003;
    }

.table_rooms_description {
    padding-left: 25px;
}

    .table_rooms_description h3 {
        font: normal 18px 'Tahoma';
        margin: 0 0 5px 0;
        padding: 0;
    }

    .table_rooms_description p {
        font: normal 12px/18px 'Tahoma';
    }

.rooms_price {
    font-family: Tahoma, serif;
    font-weight: bold;
    font-size: 14px;
    color: #000;
}

.to-book_field {
    vertical-align: middle;
    height: 60px;
}

    .to-book_field tr {
        height: 60px;
    }

    .to-book_field td {
        width: 350px;
        height: 50px;
        padding-right: 5px;
    }

    .to-book_field input {
        height: 35px;
    }

.for_submit_button td {
    height: 40px;
    vertical-align: top;
    padding-top: 11px;
    padding-left: 100px;
    text-align: left;
}

.for_submit_button div {
    text-align: center;
}

.for_submit_button button {
    width: 140px;
    height: 30px;
    border: 0;
}

input {
    width: 350px;
}

textarea {
    width: 350px;
    height: 60px;
    resize: vertical;
}

select {
    width: 350px;
}

td div {
    color: red;
}

.center_table {
    margin: auto;
}

