@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Форма оформления бронирования</h3>
    <form method="post" action="">
        <input type="hidden" value="@ViewBag.BookingId" name="BookId" />
        <table>
            <tr>
                <td><p>Введите стоимость заказа</p></td>
                <td><input type="text" name="OrderPrice" /> </td>
            </tr>
            <tr>
                <td><input type="submit" value="Отправить" /></td>
                <td></td>
            </tr>
        </table>
    </form>
</div>