@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Список номеров</h3>
    <table>
        <tr>
            <td><p>расположение номера</p></td>
            <td><p>количество мест</p></td>
            <td><p>стоимость за сутки</p></td>
            <td><p>дополнительная информация</p></td>
            <td></td>
        </tr>
        @foreach (var r in ViewBag.Rooms)
        {
            <tr>
                <td><p>@r.RoomLocation</p></td>
                <td><p>@r.NumberOfPeople</p></td>
                <td><p>@r.CostPerDay</p></td>
                <td><p>@r.AdditionalInfo</p></td>
                <td><p><a href="/Home/Book/@r.RoomLocation">Купить</a></p></td>
            </tr>
        }
    </table>
</div>